.color{
    border-radius: 100px;
    width: 24px;
    height: 24px;
    background: #83b18b;
}

.hidden{
    border-radius: 100px;
    width: 30px;
    height: 30px;
    background: white;
    padding: 2px;
}