.input {
    font-weight: 500;
    font-size: 14px;
    line-height: 175%;
    padding: 10px 10px 10px 47px;
    border: 1px solid #e6e7e8;
    border-radius: 6px;
    background: transparent;

    &::placeholder {
        color: #878a92;
    }
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.label img{
    position: absolute;
    left: 15px;
    top: 10px;
}

.label:not(:has(img)) .input{
    padding: 10px 10px 10px 15px;
}

.label{
    font-weight: 500;
    font-size: 14px;
    line-height: 175%;
    color: #474b57;
}