.namePage{
    background: #f6f6f6;
}

.namePage h2 {
    font-weight: 700;
    font-size: 24px;
    color: #0e1422;
}

.namePageWrapper{
    padding: 35px 53px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

