.circle {
    border-radius: 100px;
    width: 24px;
    height: 24px;
    background: #ffd58a;
    margin: 2px;
}

.active {
    border-radius: 100px;
    width: 30px;
    height: 30px;
    background: white;
    border: 1px solid black;
}