html, body {
    height: 100%;
    font-family: 'Inter',sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

input{
    border: none;
    outline: none;
    width: 100%;
}

ul{
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

